*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: microsoft "microsoft yahei";
}
.e1{
  width: 960px;
  margin: 0 auto;
}
.e2{
  background: url("../img/top-bg-left.png") repeat-x;
  height: 30px;
  width: 7px;
  float: left;
}
.e3{
  height: 30px;
  width: 946px;
  background: url("../img/top-bg.jpg") repeat-x;
  float: left;
  p{
    color: #666666;
    float: left;

    font-size: 12px;
    margin-left: 13px;
    margin-top: 9px;

  }
  .e5{
    float: left;
    margin-left: 11px;
    margin-top: 4px;
    a{
      border: #e5e5e5 1px solid;
      width: 39px;
      height: 18px;
      color: #999999;
      font-size: 12px;
      border-radius: 3px;
      span{
        color: #d60d03;
      }
    }
  }
  .e6{

    height: 12px;
    float:right;
    margin-right: 25px;
    img{
      float:left;
      margin-right: 6px;
      margin-top: 2px;
    }
    a{
      color: #666666;
      font-size: 12px;;
      float:left;
    }
    span{
      float:left;
      margin-left: 7px;
      margin-right: -7px;
      margin-top: 4px;
      color: #d5d5d5;
    }
  }



}
.e4{
  background: url("../img/top-bg-right.png") repeat-x;
  height: 30px;
  width: 7px;
  float: right;
}
.e9{
  height: 100px;
  .e7{
    height: 100px;
    width: 330px;
    float: left;
    p{
      float: left;
      width: 46px;
      margin-left: 20px;
      margin-top: 10px;
      span{
        color: #333333;
        font-size: 12px;
        text-align: center;
        display: block;
      }
    }
  }
  .e8{
    float: left;
    margin-top: 10px;
    margin-left: 38px;
  }
  .e10{
    height: 100px;
    margin-left: 28px;
    float: left;
    p{
      float: left;
      width: 62px;
      margin-left: 6px;

      margin-top: 10px;
      img{
        margin-left: 6px;
      }
      span{
        color: #333333;
        font-size: 12px;
        text-align: center;
        display: block;
      }
    }
  }

}
.e11{
  .e12{
    height: 116px;
    width: 6px;
    background: url("../img/search-left.png") repeat-x;
    float: left;
  }
  .e13{
    height: 116px;
    width: 948px;
    background: url("../img/search-bg.jpg") repeat-x;
    float: left;
    .e15{
      float: left;
      margin-left: 28px;
      margin-top: -2px;
    }
    .e16{
      float: left;
      margin-top: -10px;
      margin-left: 39px;
      .e17{
        background: #e21c01;
        color: #fbfbfb;
        border-bottom: #e21c01 solid 1px;
      }
      a{
        border: #f1caba solid 1px;
        width: 79px;
        height: 26px;
        float: left;
        border-width:1px;border-style:solid;border-color: rgb(241, 202, 186);border-radius:5px 5px 0px 0px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;
        text-align: center;
        display: block;
        line-height: 26px;
        margin-left: 1px;
        color: #000000;
        font-size: 14px;
        background: #fdfdfd;

        &:hover{
        background: #e21c01;
        color: #fbfbfb;
      }
      }

    }

    .e18{
      float: left;
      width: 478px;
      margin-top: 19px;
      margin-left: 39px;
      a{
        img{
          float: left;
          margin-left: 8px;
          margin-top: 1px;
        }
      }
      .e19{
        height: 22px;
        width: 405px;
        border-radius: 3px;
        outline: none;
        color: #ea7a7a;
        font-size: 12px;
        background: #fff1ef;
        float: left;
      }
    }

    .e20{
      height: 30px;
      voerflow:hidden;
      width: 194px;

      font-size: 12px;
      float: left;
      margin-left: 19px;
      margin-top: 14px;
      a{
        color: #FFFFFF;
      }
    }

    .e21{
      float: left;
      width: 405px;
      height: 15px;
      font-size: 12px;
      margin-top: 30px;
      margin-left: 39px;
      overflow: hidden;
      img{
        float: left;
        margin-top: 2px;
      }
      span{
        float: left;
        color: #d30703;
        margin-left: 10px;
      }
      p{
        float: left;
        color: #999999;
        margin-left: 13px;
      }
      em{
        float: left;
        font-style: normal;
        color: #000000;
        margin-left: 5px;
      }
      a{
        float: right;
      }
    }

  }
  .e14{
    height: 116px;
    width: 6px;
    background: url("../img/search-right.png") repeat-x;
    float: right;
  }
}
.e22{
  width: 350px;
  height: 420px;
  border: #e5e5e5 solid 1px;
  float: left;
  margin-top: 10px;
  .e23{
    float: left;
    font-size: 18px;
    color: #d90000;
    font-family: Arial;
    margin-top: 10px;
    margin-left: 15px;
  }
  .e26{
    margin-top: 8px;
    margin-left: 7px;
  }

  .e24{
    height: 285px;
    width: 318px;
    background: #eef0f0;
    float: left;
    margin-left: 15px;
    margin-top: 3px;
    video{
      width: 318px;
      height: 285px;

    }

  }
  .e25{
    float: left;
    margin-top: 15px;
    margin-left: 18px;
  }

  .e27{
    width: 214px;
    float: left;
    color: #4d4d4d;
    font-size: 12px;
    margin-left: 17px;
    margin-top: 15px;
    .e28{
      margin-top: 6px;
      float: left;
      margin-left: -4px;
    }
  }
}
.e29{
  height: 420px;
  width: 346px;
  border-bottom: #e5e5e5 1px  solid;
  border-left: #e5e5e5 1px solid;
  border-right: #e5e5e5 1px solid;
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  p{
    display: block;
    line-height: 33px;
    text-align: center;
    color: #2b2d2d;
    font-size: 14px;
    height: 33px;
    span{
      color: #cc0d13;
      font-size: 12px;

    }
    width: 172px;
    height: 33px;
    border: #e5e5e5 1px solid;
    float: left;
    margin-left: 2px;
    border-width:1px;border-style:solid;border-color:#e5e5e5(14, 94, 94);border-radius:5px 5px 0px 0px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;
  }
  .c30{
    margin-left: -2px;
    border-bottom: #FFFFFF 1px solid;
  }
  .c31{
    background: url("../img/menu-bg.png");
    width: 170px;
  }
  .c36{
    margin-top: 15px;
  }
  .c32{
    background: url("../img/uuu_07.png") no-repeat;
    width: 318px;
    height: 108px;
    float: left;
    margin-left: 15px;


    .c35{
      float: left;
      margin-top: 61px;
      margin-left: 72px;
    }
  }
  .c33{
    height: 72px;
    font-size: 12px;
    width: 122px;
    float: right;
    margin-right: 72px;
    margin-top: 17px;
    .c34{
      margin-top: 5px;
    }
    a{
      color: #bb0d0d;
    }
    span{
      float: left;
      color: #6e6e6e;
    }
  }

}
.e30{
  height: 138px;
  width: 237px;
  float: right;
  margin-top: 10px;
  .top{
    height: 34px;
    width: 238px;
    border: #e5e5e5 1px solid;
    float:left;
    border-radius: 5px 5px 0px 0px;
    background: url("../img/menu-bg.png");
    p{
      float: left;
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      margin-top: 15px;
      margin-left: 12px;
    }
    span{
      color: #010000;
      font-size: 12px;
      float: left;
      margin-top: 14px;
      margin-left: 5px;
    }
  }
  .wap{
    height: 102px;
    width: 238px;
    border: #e5e5e5 1px solid;
    float: left;
    margin-top: -1px;
    font-size: 12px;
    .input{
      border: #e5e5e5 solid 1px;
      width: 87px;
      height: 17px

    }
    lable:first-child{
      margin-top: 15px;
    }
    lable{
      margin-top: 7px;
      margin-left: 21px;
      float: left;
      width: 195px;
      a{
        width: 54px;
        height: 22px;
        background: #e10000;
        border-radius: 5px;
        display: block;
        text-align: center;
        line-height: 22px;
        color: #FFFFFF;
        float: right;
      }

      span{
        float: left;
        letter-spacing: 3px;
      }
    }
    ul{
      list-style: none;
      height: 32px;
      width: 214px;
      border-top: #e5e5e5 1px solid;
      line-height: 32px;
      color: #666666;
      float: left;
      clear: both;
      margin-top: 7px;
      margin-left: 12px;
      li{
        width: 88px;
        float: left;
        a{
          margin-left: 3px;
          color: #666666;
        }
      }
      i{
        width: 2px;
        height: 3px;
        background: #e21c01;
        float: left;
        margin-top: 15px;
        margin-left: 18px;

      }
    }
  }
}
.e31{
  float: left;
  margin-top: 7px;
  margin-left: 5px;
}
.e32{
  float: left;
  margin-top: 7px;
  margin-left: 5px;
}
.c37{
     float: left;
  margin-top: 0;
}
.c38{
  height: 498px;
  width: 348px;
  border: #e5e5e5 solid 1px;
  float: left;
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
  .c41{
    height: 42px;
    width: 218px;
    float: left;
    margin-top: 19px;
    margin-left: 24px;
    img{
      position: absolute;
      right: 0;
      top: 0;
    }
    span{
      color: #ec1c16;
      font-size: 36px;
      font-family: Arial;

      line-height: 42px;
      margin-left: 9px;
    }
    h5{
      color: #333333;
      font-size: 24px;
      float: left;
      height: 27px;
      clear: both;
    }
    p{
      color: #ea2b31;
      font-family: Arial;
      font-size: 12px;
      float: left;
      height: 15px;
    }
  }

  .c42{
    float: left;
    clear: both;
    margin-top: 26px;
    margin-left: 23px;
  }
  .c43{
    float: left;
    margin-left: 12px;
    margin-top: 28px;
    width: 201px;
    span{
      width: 23px;
      height: 23px;
      border: #e5e5e5 solid 1px;
      border-radius: 4px;
      float: left;
      margin-left: 4px;
      color: #d21913;
      text-align: center;

    }
    strong{
      float: left;
      height: 25px;
      line-height: 25px;
      margin-left: 7px;

    }
    ul{
      height: 54px;
      width: 199px;
      font-size: 12px;
      margin-left: 14px;
      float: left;
      margin-top: 3px;
      color: #999999;
    }
  }

  .c44{
    height: 32px;
    width: 298px;
    background: url("../img/woqu_03.png");
    float: left;
    margin-left: 24px;
    margin-top: 19px;
    li{
      list-style: none;
      float: left;
      line-height: 32px;
      text-align: center;
      display: block;
      margin-left: 3px;
      width: 39px;
      font-size: 12px;
    }
  }
  .c45{
    height: 32px;
    width: 298px;

    float: left;
    margin-left: 24px;
    margin-top: 2px;
    li{
      list-style: none;
      float: left;
      line-height: 32px;
      text-align: center;
      display: block;
      margin-left: 3px;
      width: 39px;
      height: 32px;
      font-size: 12px;
      background: #ededed;
    }
    .c46{
        list-style: none;
        float: left;
        line-height: 32px;
        text-align: center;
        display: block;
        margin-left: 3px;
        width: 39px;
        height: 32px;
        font-size: 12px;
        background: #f8f8f8;
    }
  }

}
.c40{
  width: 348px;
  height: 498px;
  float: left;
  border: #e5e5e5 solid 1px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  .c47{
    height: 42px;
    width: 320px;
    float: left;
    margin-top: 19px;
    margin-left: 24px;
    h5{
      color: #333333;
      font-size: 24px;
      float: left;
      height: 27px;
      clear: both;
    }
    p{
      color: #ea2b31;
      font-family: Arial;
      font-size: 12px;
      float: left;
      height: 15px;
    }
    img{
      float: left;
      margin-top: -19px;
    }
  }

  .c48{
    height: 180px;
    width: 318px;
    background: #e5e5e5;
    margin-left: 15px;
    margin-top: 9px;
    float: left;
    border-radius: 4px;
    span{
      float: left;
      width: 69px;
      margin-left: 14px;
      font-size: 12px;
      color: #000000;
      height: 15px;
      margin-top: 5px;
      display: block;
      line-height: 15px;
    }
    .c49{
      float: left;
      margin-top: 12px;
      margin-left: 12px;
    }

    .c50{
      border: #d6191d solid 3px;
      float: left;
      margin-top: 12px;
      margin-left: 8px;
    }
    .c51{
      border: #ffffff solid 3px;
      float: left;
      margin-top: 12px;
      margin-left: 8px;
      &:hover{
        border: #d6191d solid 3px;
      }

    }

  }
  .c50{
    margin-top: 16px;
  }
  .c51{
    margin-left: 30px;
  }

  ul{
    height: 27px;
    width: 296px;
    display: block;
    float: left;
    line-height: 27px;
    margin-left: 26px;
    img{
      float: left;
      border-right: #dfdfdf 1px solid;
      padding-right: 8px;
      line-height: 27px;
      margin-top: 7px;padding-left: 6px;
    }
    span{
      float: left;
      font-size: 12px;
      margin-left: 32px;
      color: #999999;
    }

    li{
      list-style: none;
      color: #000000;
      font-size: 12px;
      float: left;
      margin-left: 6px;
    }
  }




}
.c53{
  width: 350px;
  height: 330px;
  margin-top: 10px;
  float: left;
  .c54{
    margin-left: 2px;
  }
  ul{
    height: 32px;
    width: 172px;
    border: #e5e5e5 solid 1px;
    border-bottom: #FFFFFF solid 1px;
    float: left;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    span{
      float: left;
      color: #cc0d13;
      font-family: Arial;
      font-size: 12px;
      line-height: 32px;
      display: block;
      margin-left: 22px;
    }
    p{
      color: #2b2d2d;
      font-size: 14px;
      line-height: 32px;
      display: block;
      margin-left: 5px;
      float: left;
    }
    img{
      float: left;
      margin-top: 11px;
      margin-left: 7px;
    }
  }

  .c54{
    height: 32px;
    width: 172px;
    border: #e5e5e5 solid 1px;
    float: left;
    margin-left: 2px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    background: url("../img/menu-bg.png");

  }
  div{
    height: 294px;
    width: 348px;
    border: #e5e5e5 1px solid;
    float: left;
    img{
      margin-top: 30px;
      margin-left: 25px;
    }
  }

}
.c55{
  height: 328px;
  width: 348px;
  border: #e5e5e5 solid 1px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  .C56{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: left;
      color: #000000;
      line-height: 40px;
      margin-left: 211px;
      font-weight: normal;
      font-size: 12px;
    }
    img{
      float: right;
      margin-top: 14px;
      margin-right: 15px;
    }
  }
  .c57{
    width: 318px;
    margin-left: 15px;
    height: 70px;
    background: #d90000;
    float: left;
    border-radius: 4px;
    position: relative;
    img{
      float: left;
      margin-left: 10px;
      margin-top: 10px;
    }
    p{
      float: left;
      height: 25px;
      color: #FFFFFF;
      margin-left: 10px;
      display: block;
      line-height: 25px;
      font-size: 12px;
      margin-top: 9px;
      width: 243px;
      overflow: hidden;
    }
    span{
      float: left;
      overflow: hidden;
      line-height: 25px;
      margin-left: 10px;
      font-size: 12px;
      color: #FFFFFF;
    }
    strong{
      float: left;
      margin-left: 149px;
      position: absolute;
      right: 5px;
      bottom: 2px;
      color: #FFFFFF;
    }
  }
  ul{
    height: 30px;
    width: 318px;
    background: #e5e5e5;
    float: left;
    font-size: 12px;
    margin-top: 3px;
    margin-left: 15px;
    border-radius: 4px;
    img{
      float: left;
      margin-left: 9px;
      margin-top: 11px;
    }
    span{
      float: left;
      margin-left: 21px;
      line-height: 30px;
      display: block;
      color: #333333;
    }
    p{
      float: left;
      margin-left: 85px;
      display: block;
      line-height: 30px;
    }
  }
  .x1{
    background: #f8f8f8;
  }
}
.c58{
  float: left;
  margin-top: 10px;
}
.c59{
  height: 298px;
  width: 350px;
  border: #e5e5e5 1px solid;
  float: left;
  margin-top: 10px;
  border-radius: 4px;position: relative;
  .C60{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #767676;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }
  ul{
    width: 318px;
    height: 27px;
    border-bottom: #e5e5e5 1px solid;
    float:left;
    margin-left: 15px;
    p{
      a{
        color: #454545;
      }
    }
    .c62{
      width: 98px;
      height: 24px;
      border: #e5e5e5 solid 1px;
      border-bottom: #FFFFFF solid 1px;
      float: left;
      margin-left: 10px;
      margin-top: 2px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;

      border-radius: 4px;
    }
    .c63{
      width: 98px;
      height: 24px;
      border: #e5e5e5 solid 1px;
      float: left;
      margin-left: -2px;
      margin-top: 2px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;
      color: #454545;
      border-radius: 4px;
      &:hover{
      border-bottom: #FFFFFF 1px solid;
    }
    }

  }
  .c64{
    float: left;
    height: 25px;
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 131px;
    letter-spacing: 19px;
  }
  .c65{
    float: right;
    height: 25px;
    color: #999999;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 32px;

  }
  .c66{
    border-bottom: #e5e5e5 dashed 1px;
    width: 313px;
    margin-left: 17px;
  }
  li{
    list-style: none;
    font-size: 12px;
    height: 28px;
    float: left;
    border-top: #e5e5e5 dashed 1px;
    width: 313px;
    margin-left: 17px;


    i{
      font-style: normal;
      float: left;
      width: 3px;
      height: 3px;
      background: #d4051f;
      margin-left: 4px;
      margin-top: 12px;
    }
    strong{
      float: left;
      line-height: 28px;
      margin-left: 7px;
      font-weight: normal;
      color: #767676;
      span{
        color: #c75d61;
      }

    }
    p{
      float: left;
      line-height: 28px;
      margin-left: 8px;
      color: #454545;
    }
    img{
      float: right;
      margin-right: 18px;
      margin-top: 10px;

    }
  }
   label{
    float: left;
    font-size: 12px;
    color: #595959;
    height: 22px;
    line-height: 22px;
    margin-top: 17px;
    margin-left: 27px;
    a{
      float: right;
      margin-left: 10px;
    }
  }
}
.c61{
  margin-left: 10px;
  .c67{
    width: 78px;
    height: 78px;
    background: #ec000e;
    float: left;
    margin-left: 14px;
    strong{
      float: left;
      color: #ffffff;
      font-size: 18px;
      font-family: Arial;
      width: 40px;
      height: 24px;
      overflow: hidden;
      margin-top: 10px;
      margin-left: 10px;
    }
    p{
      float: left;
      margin-left: 10px;
      height: 18px;
      width: 50px;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 18px;
      overflow: hidden;
    }
    span{
      float: left;
      margin-left: 10px;
      color: #FFFFFF;
      font-size: 12px;
      height: 17px;
      width: 36px;
      overflow: hidden;
    }
  }
  .x2{
    margin-top: 0px;
  }
  .c68{
    float: left;
    margin-left: 10px;
  }
  img{
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    padding-left: 2px;
  }
}
.c69{
  height: 248px;
  width: 350px;
  border: #e5e5e5 solid 1px;
  float: left;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  .C70{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #000000;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }

}
.c72{
  ul{
    height: 18px;
    line-height: 18px;
    color: #333333;
    float: left;
    width: 294px;
    margin-left: 20px;
    margin-top: 11px;
    font-size: 12px;
    text-indent: 2em;
  }
  ol{
    height: 34px;
    width: 316px;
    border-bottom: #e5e5e5 1px solid;
    float: left;
    margin-top: 18px;
    margin-left: 15px;
    img{
      margin-top: 0;
      float: left;
    }
    strong{
      color: #b80000;
      font-size: 12px;
      float: left;
      line-height: 29px;
      margin-left: 6px;
    }
    img:first-child {
      margin-left: 22px;
      margin-top: 6px;
    }
    .c73{
      margin-left: 44px;
    }
    img{
      margin-top: 5px;
    }
  }
  li{
    height: 18px;
    width: 150px;
    float: left;
    list-style: none;
    font-size: 12px;
    margin-left: 24px;
    a{
      line-height: 18px;
      color: #292929;
      margin-left: 5px;
    }
    span{
      float: left;
    }
    p{
      float: left;
    }
    i{
      font-style: normal;
      width: 3px;
      height: 3px;
      background: #b4040a;
      float: left;
      margin-top: 8px;
      margin-left: 4px;
    }
  }
  .x3{
    margin-top: 16px;
  }
}
.c71{
  margin-left: 10px;
  ul{
    list-style: none;
    height: 38px;
    margin-left: 15px;
    margin-top: 13px;
    img{
      float: left;
    }
    li{
      float: left;
      width: 210px;
      height: 19px;
      display: block;
      line-height: 19px;
      font-size: 12px;
      margin-left: 10px;
    }
  }
}
.right{
  float: right;
  height: 238px;
  width: 239px;
  border: #e5e5e5 1px solid;
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
  .right1{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #767676;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }
  ul{
    width: 214px;
    height: 23px;
    border-bottom: #e5e5e5 1px solid;
    float:left;
    margin-left: 12px;
    p{
      a{
        color: #454545;
      }
    }
    .c62{
      width: 66px;
      height: 22px;
      border: #e5e5e5 solid 1px;
      border-bottom: #FFFFFF solid 1px;
      float: left;
      margin-left: 10px;
      margin-top: 0px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;
      border-radius: 4px;
      a{
        color: #333333;
      }
    }
    .c63{
      width: 66px;
      height: 22px;
      border: #e5e5e5 solid 1px;
      float: left;
      margin-left: -2px;
      margin-top: 0px;
      line-height: 24px;
      text-align: center;
      font-size: 12px;
      border-radius: 4px;
      a{
        color: #666666;
      }
      &:hover{
        border-bottom: #FFFFFF 1px solid;
      }
    }

  }
  em{
    font-style: normal;
    font-size: 12px;
    height: 30px;
    display: block;
    color: #999999;
    float: left;
    line-height: 30px;
    span{
      float: left;
      margin-left: 58px;
    }
    p{
      float: left;
      margin-left: 65px;
    }
    i{
      float: left;
      font-style: normal;
      margin-left: 20px;
    }
  }
  li{
    font-size: 12px;
    list-style: none;
    height: 27px;
    width: 214px;
    border-top: #e5e5e5 dashed 1px;
    float: left;
    margin-left: 12px;
    line-height: 27px;
    display: block;
    i{
      font-style: normal;
      float: left;
      width: 3px;
      height: 3px;
      background: #d80000;
      margin-left: 5px;
      margin-top: 11px;
    }
    a{
      float: left;
      margin-left: 5px;
      color: #333333;
    }
    span{
      float: left;
      color: #d90000;
      margin-left: 50px;
    }
    strong{
      float: left;
      font-weight: normal;
      margin-left: 18px;
      color: #999999;
    }
  }
}
.right3{
  float: right;
  width: 238px;
  height: 418px;
  border: #e5e5e5 solid 1px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  .right4{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #767676;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }
  ul{
    height: 83px;
    margin-top: 10px;
    width: 214px;
    border-bottom: #e5e5e5 dashed 1px;
    float: left;
    margin-left: 12px;
    position: relative;
    i{
      height: 71px;
      width: 94px;
      border: #e5e5e5 1px solid;
      float: left;

      img{
        margin-top: 2px;
        margin-left: 2px;

      }
    }
    a{
      height: 23px;
      width: 96px;
      font-size: 12px;
      overflow: hidden;
      display: block;
      float: left;
      color: #b80000;
      margin-left: 12px;
      margin-top: 2px;
      line-height: 23px;
    }
    p{
      height: 17px;
      width: 90px;
      color: #999999;
      font-size: 12px;
      margin-left: 12px;
      margin-top: 3px;
      line-height: 17px;
      float: left;
      span{
        color: #666666;
      }
    }
    .im{
      position: absolute;
      left: 59px;
      top: 38px;
    }

  }
  .top10px{
    margin-top: -10px;
  }

}
.rightyou{
  height: 178px;
  width: 238px;
  border: #e5e5e5 1px solid;
  float: right;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  .you{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #767676;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }
  img{
    float: left;
    margin-left: 12px;
  }
  span{
    height: 27px;
    width: 85px;
    color: #333333;
    font-size: 12px;
    margin-left: 12px;
    float: left;
    overflow: hidden;
    line-height: 27px;
  }

}
.right6{
  height: 348px;
  width: 238px;
  float: right;
  border: #e5e5e5 solid 1px;
  border-radius: 4px;
  margin-top: 10px;
  position: relative;
  .you1{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #767676;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }
  ul{
    height: 83px;
    width: 214px;
    border-bottom: #e5e5e5 dashed 0px;
    float: left;
    margin-left: 12px;
    position: relative;
    i{
      height: 71px;
      width: 94px;
      border: #e5e5e5 1px solid;
      float: left;

      img{
        margin-top: 2px;
        margin-left: 2px;

      }
    }
    a{
      height: 23px;
      width: 96px;
      font-size: 12px;
      overflow: hidden;
      display: block;
      float: left;
      color: #b80000;
      margin-left: 12px;
      margin-top: 2px;
      line-height: 23px;
    }
    p{
      height: 17px;
      width: 90px;
      color: #999999;
      font-size: 12px;
      margin-left: 12px;
      margin-top: 3px;
      line-height: 17px;
      float: left;
      span{
        color: #666666;
      }
    }
    .im{
      position: absolute;
      left: 59px;
      top: 38px;
    }

  }
  li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    float: left;
    border-top: #e5e5e5 dashed 1px;
    width: 214px;
    margin-left: 12px;


    i{
      font-style: normal;
      float: left;
      width: 3px;
      height: 3px;
      background: #d4051f;
      margin-left: 4px;
      margin-top: 12px;
    }
    strong{
      float: left;
      line-height: 27px;
      margin-left: 7px;
      font-weight: normal;
      color: #767676;
      span{
        color: #c75d61;
      }

    }
    p{
      float: left;
      line-height: 27px;
      margin-left: 8px;
      color: #454545;
    }
  }


}
.rightx{
  height: 368px;
  width: 238px;
  border: #e5e5e5 1px solid;
  float: right;
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
  .en1{
    height: 40px;
    p{
      color: #cc0d13;
      font-size: 12px;
      font-family: Arial;
      float: left;
      margin-left: 15px;
      line-height: 40px;
    }
    span{
      font-size: 12px;
      color: #010000;
      float: left;
      line-height: 40px;
      margin-left: 5px;
    }
    strong{
      float: right;
      color: #767676;
      line-height: 40px;
      margin-right: 32px;
      font-weight: normal;
      font-size: 12px;

    }
    img{
      float: right;
      position: absolute;
      right: 10px;
      top: 14px;

    }
  }
  ul{
    width: 97px;
    height: 151px;
    float: left;
    margin-left: 12px;
    i{
      height: 71px;
      width: 94px;
      border: #e5e5e5 solid 1px;
      float: left;
      img{
        float: left;
        margin-top: 2px;
        margin-left: 2px;
      }
    }
    a{
      height: 23px;
      width: 97px;
      overflow: hidden;
      line-height: 23px;
      color: #b80000;
      display: block;
      margin-top: 4px;
      font-size: 12px;
    }
    p{
      height: 17px;
      font-size: 12px;
      color: #999999;
      margin-left: 2px;
      span{
        color: #666666;
      }
    }
  }
  li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    float: left;
    border-top: #e5e5e5 dashed 1px;
    width: 214px;
    margin-left: 12px;


    i{
      font-style: normal;
      float: left;
      width: 3px;
      height: 3px;
      background: #d4051f;
      margin-left: 4px;
      margin-top: 12px;
    }
    strong{
      float: left;
      line-height: 27px;
      margin-left: 7px;
      font-weight: normal;
      color: #767676;
      span{
        color: #c75d61;
      }

    }
    p{
      float: left;
      line-height: 27px;
      margin-left: 8px;
      color: #454545;
    }
  }

}
.beijing{
  height: 78px;
  width: 100%;
  background: #f9f9f9;
  float: left;
  margin-top: 10px;
  border-radius: 5px;
  p{
    height: 25px;
    display: block;
    line-height: 25px;
    color: #767676;
    text-align: center;
    font-size: 12px;
    a{
      border-right: #919191 1px solid;
      margin-left: 11px;
      padding-right: 11px;
      color: #454545;

    }
    span{
      margin-left: 19px;
    }
  }
  .op{
    margin-top: 14px;
    .x5{
      border-right: #FFFFFF solid 1px;
      
    }
  }
}