*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    font-family: "microsoft yahei";
}
.s953{
        width: 953px;
    }
.s1{
    height: 38px;
    width: 100%;
    background: -webkit-gradient(linear,0% 0%, 0% 97%, from(#E6E6E7), to(#FFFFFF), color-stop(0.3,#E6E6E7),color-stop(1.0,#E6E6E7));
    
    .s2 p{
        float: left;
        font-size: 10px;
        color: #898989;
        margin-left: 53px;
        margin-top: 19px;
    }
    .s2 a{
        float: left;
        font-size: 10px;
        color: #898989;
        margin-top: 19px;
    }
    .s3{
        border-left:#898989 solid 1px ;
        padding-left: 10px;
        margin-left: 10px;
    }
    .s4{
        margin-left: 59px;
    }
}
.s5{
    width: 100%;
    height: 77px;
    background:#fdfdfd;
    .s6 img{
        float: left;
        margin-left: 30px;
        margin-top: 17px;
    }
    .s7{
        height: 46px;
        width: 110px;
        border: #e9e9e9 solid 1px;
        color: #898989;
        font-size: 12px;
        margin-top: 13px;
    }
    .s9{
        margin-left: 76px;
        float: left;
    }
    .s8{
        float: left;
         height: 46px;
        width: 116px;
        border: #e9e9e9 solid 1px;
        color: #898989;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 13px;
    }
    .s10{
        float: left;
         height: 46px;
        width: 126px;
        border: #e9e9e9 solid 1px;
        color: #898989;
        font-size: 12px;
         margin-left: 5px;
    }
    .s11{
        float: left;
         height: 46px;
        width: 152px;
        border: #e9e9e9 solid 1px;
        color: #898989;
        font-size: 12px;
         margin-left: 5px;
         margin-top: 13px;
    }
    .s7 img{
       margin-left: 3px;
       float: left;
       
    }
    .s7 p{
        text-align: center;
        margin-top: 5px;
    }
    .s12 img{
        margin-top: 10px;
    }
}
.s13{
    background: #e5e6e6;
    height: 28px;
    width: 100%;
    .s14 a{
        font-size: 11px;
        color: #898989;
        float: left;
        margin-top: 8px;
    }
    .s15{
        padding-left: 10px;
        border-left: #b2b3b2 solid 1px;
        margin-left: 10px;
    }
    .s16{
        margin-left: 60px;
    }
    .s17{
        margin-left: 10px;
    }
    .s18{
        margin-left: 95px;
        float: left;
    }
    .s18 button{
        background: #be287d;
        width: 52px;
        height: 18px;
        color: #ffffff;
        font-size: 11.18px;
    }
}
.s19{
    background: #fffeee;
    height: 18px;
    width: 100%;
}
.s20{
    background: url(../img/bg.jpg) center;
    width: 1440px;
    height: 383px;
}
.s21{
    background: url(../img/tp-28.png);
    height: 59px;
    width: 100%;
    .s22 a{
        color: #fffdfd;
        font-family: "songti";
        font-size: 16px;
        line-height: 59px;
        margin-left: 91px;
    }
    .s22{
        text-align: center;
        
    }
}
.s23{
    background: #fffeee;
    width: 100%;
    height: 878px;
    .s31{
        padding-top: 10px;
        .s24{
         width: 953px;
         height: 52px;
         border: #d54e92 solid 1px;
         
         .s25{
             height: 42px;
             width: 42px;
             background: url(../img/12314.png);
             float: left;
             margin-left: 10px;
             margin-top: 3px;
             font-family: "xinsongti";
             color: #ffffff;
             font-size: 15px;
             text-align: center;
         }
        .s26{
            float: left;
            width: 130px;
            margin-left: 7px;
            margin-top: 2px;
        }
        .s27{
            border-left:#000000 solid 1px ;
            color: #000000;
            font-family: "xinsongti";
            font-size: 12px;
            padding-left: 5px;
        }
        .s26 a{
            color: #000000;
            font-family: "xinsongti";
            font-size: 12px;
        }
        .s28{
            float: left;
            width: 107px;
            margin-left: 7px;
            margin-top: 2px;
        }
        .s28 a{
            color: #000000;
            font-family: "xinsongti";
            font-size: 12px;
        }
        .s29{
            width: 166px;
        }
        .s30{
            width: 123px;
        }
    }
    

    }
    .x1{
        background: #fffeee;
    width: 100%;
    height: 100%;
    margin-top: 8px;
                .s32{
        float: left;
    }
    .s33{
        float: left;
    }
    .s34{
        border: #d65194 solid 1px;
        height: 297px;
        width: 447px;
        float: left;
        margin-left: 9px;
        .s36{
        height: 37px;
        width: 149px;
        background: #8d0045;
        display: block;
        float: left;
        text-align: center;
        line-height: 37px;
        color: #ffffff;
        font-size: 14px;
    }
    .s35{
        height: 36px;
        width: 149px;
        background: #fdfdfd;
        display: block;
        float: left;
        text-align: center; 
        line-height: 37px;
        font-size: 14px;
        color: #850c4d;
    }
    .s33 p{
        text-align: center;
        color: #850c4d;
        font-size: 16px;
        margin-top: 54px;
    }
    .s37{
        color: #000000;
        font-size: 12px;
        margin-right: 24px;
        margin-top: 82px;
    }
    .s39{
        float: right;
        margin-top: 2px;
    }
    .s38{
        float: left;
        margin-left: 39px;
         margin-top: 2px;
    }
    .s38 span {
        color: #e60012;
    }
    .s40{
        float: left;
        width: 209px;
        color: #000000;
        font-size: 12px;
        font-family: "songti";
        margin-top: 10px;
        
    }
    .s40 ul{
        background: #fffddb;
        margin-top: 5px;
    }
    .s40{
        span{
            margin-top: 4px;
            float: right;
        }
    }
    
    }
    .s41{
        width: 251px;
        height: 296px;
        border: #d2408b solid 1px;
        float: left;
        margin-left: 6px;
        .s42{
            width: 251px;
            height: 37px;
            background: #991d62;
            span{
                color: #ffffff;
                font-size: 25.74px;
                font-family: "songti";
                float: left;
                margin-left: 10px;
            }
            
            .s43{
                width: 114px;
                height: 25px;
                margin-left: 42px;
                p{
                color: #FFFFFF;
                font-family: "songti";
                font-size: 12px;
                float: left;
            }
            }
        }
        .s44{
            width: 251px;
            height: 22px;
            float: left;
            text-align: center;
            a{
                font-family: "songti";
            color: #850c4d;
            font-size: 16px;
            }
        }
        .s45{
            height: 108px;
            width: 231px;
            margin-top: 10px;
            .s46{
                text-indent:24px;
            }
            ul{
                font-family: "songti";
                font-size: 12px;
                color: #000000;
                margin-top: 2px;
                span{
                    color: #e60012;
                }
            }
        }
        
        
        
    }
    }
    .s47 img{
        margin-top: 10px;
    }
    .s48{
        width: 691px;
        height: 359px;
        border: #d75495 solid 1px;
        float: left;
        .s50{
            height: 37px;
            width: 691px;
            background: #ba2778;
            p{
                color: #ffffff;
                font-family: "songti";
                font-size: 15px;
                float: left;
                margin-top: 11px;
                margin-left: 34px;
            }
        }
        .s51{
                width: 661px;
                height: 98px;
                background: #c62d80;
                margin-top: 10px;
                margin-left: 13px;
               .s52{
                   height: 87px;
                   width: 652px;
                   background: #fffeee;
                   border-radius:3px ;
                   float: left;
                   margin-top: 5px;
                   margin-left: 4px;
                   img{
                       margin: 2px 5px;
                       float: left;
                   }
                   p{
                       color: #850c4d;
                       font-family: "songti";
                       font-size: 15px;
                       width: 317px;
                       height: 15px;
                       text-align: center;
                       margin: 8px 194px;
                       
                   }
                   ul{
                       color: #000000;
                       font-family: "songti";
                       font-size: 12px;
                       float: left;
                       width: 506px;
                       height: 51px;
                       text-indent: 56px;
                       span{
                           color: #eb5254;
                       }
                   }
               }
               
                
            }
            
            
    }
    .x214{
        background: url(../img/ji11q.png) no-repeat;
        height: 296px;
        width: 662px;
        float: left;
        margin-left: 14px;
        margin-top: 10px;
        font-family: "songti";
        .x215{
            float: left;
            width: 169px;
            margin-left: 50px;
            margin-top: 12px;
            span{
                color: #850c4d;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                color: #000000;
                
            }
        }
        .x216{
            float: left;
            width: 169px;
            margin-left: 253px;
            margin-top: 12px;
            span{
                color: #850c4d;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                color: #000000;
                
            }
        }
        .x217{
            float: left;
            width: 169px;
            margin-left: 50px;
            margin-top: 35px;
            span{
                color: #850c4d;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                color: #000000;
                
            }
        }
        .x218{
            float: left;
            width: 169px;
            margin-left: 253px;
            margin-top: 36px;
            span{
                color: #850c4d;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                color: #000000;
                
            }
        }
    }
    .s49{
        width: 249px;
        height: 359px;
        border: #d75495 solid 1px;
        float: left;
        margin-left: 9px;
        .s57{
            width: 249px;
            height: 37px;
            background: #ac2a75;
            span{
                font-family: "songti";
                font-size: 25.74px;
                color: #FFFFFF;
                float: left;
                margin-left: 9px;
            }
            .s58{
                color: #FFFFFF;
                font-family: "songti";
                font-size: 12px;
                float: left;
                height: 37px;
                width: 201px;
                a{
                    float: left;
                    color: #FFFFFF;
                    margin-top: -23px;
                    margin-left: 157px;
                }
            }
        }
        .s60{
            img{
                float: left;
                margin-top: 9px;
                margin-left: 10px;
            }
        }
        .s64{
            margin-top: 10px;
            float: left;
            .s59{
            float: left;
            margin-left: 26px;
           margin-top: 3px;
           img{
               margin-top: 5px;
               
           }
            img{
                float: left;
            }
            .s61{
                float: left;
                font-size: 12px;
                font-family: "songti";
                color: #000000;
                margin-left: 14px;
            }
        }
        .s62{
            text-align: center;
            color: #d2408b;
            font-size: 12px;
            font-family: "songti";
        }
        }
        
        
        
    }
    
   
}
.s66{
    width: 100%;
    background: #fffeee;
    height: 358px;
    .s67{
        height: 332px;
        width: 690px;
        border-bottom: #d2408b solid 1px;
        border-left: #D2408B solid 1px;
        border-right: #D2408B solid 1px;
        float: left;
        .s68{
            height: 34px;
            width: 170px;
            background: #cf298e;
            float: left;
            p{
                font-family: "songti";
                color: #FFFFFF;
                font-size: 15px;
                text-align: center;
                line-height: 34px;
            }
        }
        .s69{
            width: 520px;
            height: 34px;
            background: #f2f3f3;
            float: left;
            a{
                width: 97px;
                display: block;
                float: left;
                text-align: center;
                line-height: 34px;
                padding-bottom: 8px;
                color: #850c4d;
                font-family: "songti";
                font-size: 14px;
            }
            a:hover{
                background: url(../img/265.png);
                margin-top: -3px;
                color: #FFFFFF;
            }
            .s70{
                    margin-left: 19px;
                    float: left;
                }
        }
        .s71{
            height: 280px;
            width: 261px;
            border: #d3458e solid 1px;
            float: left;
            margin-top: 7px;
            margin-left: 13px;
            border-radius:4px ;
        }
        .s72{
            
            p{
                color: #850c4d;
                font-family: "songti";
                font-size: 14px;
                height: 21px;
                width: 296px;
                float: left;
                margin-left: 59px;
                margin-top: 15px;
                overflow: hidden;
            }
            ul{
                color: #000000;
                font-family: "songti";
                font-size: 12px;
                float: left;
                height: 82px;
                width: 363px;
                text-indent: 37px;
                margin-left: 19px;
                margin-top: 10px;
                overflow: hidden;
                span{
                    color: #e8222d;
                }
            }
            
        }
        .s73{
            color: #000000;
            text-align: center;
        }
        .s74{
            float: left;
            p{
                
                color: #000000;
                font-size: 14px;
                font-family: "songti";
                img{
                    margin-left: 3px;
                    
                    
                }
                span{
                    margin-top: 3px;
                    float: right;
                }
            }
        }
        .er1{
            height: 32px;
            width: 135px;
            background: #c2338a;
            display: block;
            float: left;
            margin-left: 11px;
            
            span{
                line-height: 32px;
                text-align: center;
                display: block;
                color: #FFFFFF;            }
        }
        .er2{
            margin-left: 49px;
        }
    }
    .s76{
        height: 169px;
        width: 248px;
        border: #d2408b solid 1px;
        float: left;
        margin-left: 10px;
        .s77{
            width: 248px;
            height: 33px;
            background: #9c1e65;
            span{
                float: left;
                font-family: "songti";
                font-size: 25.74px;
                color: #FFFFFF;
                margin-left: 11px;
            }
            p{
                color: #FFFFFF;
                font-family: "songti";
                font-size: 12px;
                
            }
        }
        .s78{
            float: left;
            margin-left: 5px;
            margin-top: 2px;
            a{
            width: 109px;
            height: 20px;
            border: #eee9ed solid 1px;
            display: block;
            background: #fcfcfc;
            float: left;
            margin-left: 5px;
            margin-top: 8px;
            color: #FFFFFF;
            font-family: "songti";
            font-size: 12px;line-height: 21px;text-align: center;
            background: #a30156;
            &:hover{
                background: #fefffe;
                color: #850c4d;
            }
            }
        }
    }
    .s79{
        height: 155px;
        width: 248px;
        border: #d2408b solid 1px;
        float: left;
        margin-left: 10px;
        margin-top: 7px;
        .s80{
            width: 248px;
            height: 33px;
            background: #9c1e65;
            
            span{
                float: left;
                font-family: "songti";
                font-size: 25.74px;
                color: #FFFFFF;
                margin-left: 11px;
            }
            p{
                color: #FFFFFF;
                font-family: "songti";
                font-size: 12px;
                
            }
        }
        .s81{
            height: 70px;
            width: 58px;
            float: left;
            margin-left: -20px;
            margin-top: 10px;
            p{
                color: #850c4d;
                font-family: "songti";
                font-size: 14px;
                text-align: center;
            }
        }
        .s82{
            height: 70px;
            width: 58px;
            float: left;
            margin-left: 23px;
            margin-top: 16px;
            p{
                color: #850c4d;
                font-family: "songti";
                font-size: 14px;
                text-align: center;
            }
        }
        .s83{
            height: 70px;
            width: 58px;
            float: left;
            margin-left: 23px;
            margin-top: 11px;
            p{
                color: #850c4d;
                font-family: "songti";
                font-size: 14px;
                text-align: center;
            }
        }
        .s84{
            color: #dcdddd;
            font-family: "songti";
            font-size: 12px;
            float: left;
            margin-left: 12px;
            margin-top: 5px;
        }
        .s85{
            width: 74px;
            height: 23px;
            background: #be207d;
            display: block;
            float: left;
            text-align: center;
            margin-left: 5px;
            margin-top: 4px;
            a{
                color: #FFFFFF;
                font-family: "songti";
                font-size: 14px;
                
            }
        }
        
    }
}
.s86{
    width: 100%;
    height: 1352px;
    background: #fffeee;
    font-family: "songti";
    .s87{
        height: 376px;
        width: 688px;
        border: solid 1px #d2408b;
        float: left;
        .s88{
            width: 688px;
            height: 32px;
            background: #c02b7d;
            p{
                color: #FFFFFF;
                font-family: "songti";
                font-size: 15px;
                float: left;
                margin-left: 29px;
                margin-top: 7px;
            }
        }
    }
    .s89{
        height: 216px;
        width: 259px;
        border: solid 2px #e9a2be ;
        border-radius:5px ;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        img{
            margin:-3px -3px;
        }
    }
    .s90{
        width: 157px;
        height: 32px;
        background: #9f0153;
        font-family: "songti";
        color: #fffeee;
        font-size: 14px;
        
        margin-left: 31px;
        margin-top: 13px;
        float: left;
        span{
            line-height: 32px;
            text-align: center;
            display: block;
        }
    }
    .s91{
        float: left;
        width: 290px;
        margin-left: 36px;
        span{
        color: #850c4d;
        font-family: "songti";
        font-size: 12px;
       
       }
    }
    .s92{
        font-family: "songti";
        font-size: 14px;
        color: #850C4D;
        float: left;
        margin-left: 36px;
        margin-top: 4px;
    }
    .s93{
        font-family: "songti";
        font-size: 12px;
        color: #000000;
        text-indent: 24px;
        float: left;
        width: 368px;
        height: 49px;
        margin-left: 13px;
        margin-top: 10px;
        overflow: hidden;
        span{
            color: #e60012;
        }
    }
    .s94{
        width: 135px;
        height: 32px;
        background: #9f0152;
        float: left;
        margin-left: 12px;
        margin-top: 7px;
        span{
            color: #FFFFFF;
            font-size: 14px;
            display: block;
            text-align: center;
            line-height: 32px;
        }
    }
    .s95{
        margin-left: 48px;
    }
    .s96{
        width: 689px;
        height: 10px;
        background: #b12872;
        display: block;
        float: left;
        margin-top: 9px;
    }
    .s97{
        img{
            float: left;
            margin-left: 6px;
            margin-top: 7px;
        }
    }
    .s98{
        width: 249px;
        height: 376px;
        border: solid 1px #d2408b;
        float: left;
        margin-left: 10px;
        .s99{
            width: 248px;
            height: 33px;
            background: #9c1e65;
            a{
                float: right;
                margin-top: -27px;
                color: #FFFFFF;
            }
            span{
                float: left;
                
                font-size: 25.74px;
                color: #FFFFFF;
                margin-left: 11px;
                
            }
            p{
                    color: #FFFFFF;
                    font-family: "songti";
                    font-size: 12px;
                }
        }
    }
    img{
        float: left;
        margin-top: 13px;
        margin-left: 11px;
    }
    .s100{
        float: left;
        font-size: 14px;
        color: #850c4d;
        margin-left: 12px;
        margin-top: 10px;
    }
    .s101{
        color: 12px;
        font-size: 12px;
        color: #000000;
        height: 48px;
        width: 227px;
        text-indent: 24px;
        overflow: hidden;
        margin-top: 6px;
        span{
            color: #ec6565;
        }
    }
    .s102{
        color: #d2408b;
        text-align: center;
    }
    .s103{
        width: 692px;
        height: 34px;
        background: #b52676;
        float: left;
        margin-top: 15px;
        p{
            color: #FFFFFF;
        }
        .s104{
            font-size:15px ;
            float: left;
            margin-left: 32px;
            line-height: 34px;
        }
        .s105{
            font-size: 12px;
            float: right;
            line-height: 34px;
        }
    }
    .s106{
       img{
            float: left;
        margin-left: 1px;
       }
    }
    .s107{
        height: 311px;
        width: 249px;
        border: #d2408b solid 1px;
        float: left;
        margin-top: -34px;
        margin-left: 9px;
        .s108{
            width: 248px;
            height: 33px;
            background: #9c1e65;
            a{
                float: right;
                margin-top: -27px;
                color: #FFFFFF;
            }
            span{
                float: left;
                
                font-size: 25.74px;
                color: #FFFFFF;
                margin-left: 11px;
                
            }
            p{
                    color: #FFFFFF;
                    font-family: "songti";
                    font-size: 12px;
                    
                }
                
        }
        .s109{
        float: left;
        font-size: 14px;
        color: #850c4d;
        margin-left: -26px;
        margin-top: 10px;
        
       }
    }
    .s110{
        height: 176px;
        width: 951px;
        border: #d2408b 1px solid;
        float: left;
        margin-top: 12px;
        .s112{
            width: 951px;
            height: 33px;
            float: left;
            background: #fffffe;
            
            .s113{
                height: 33px;
                width: 171px;
                float: left;
                color: #ffffff;
                background: #b5287a;
                text-align: center;
                display: block;
                line-height: 33px;
                font-size: 15px;
            }
            .s114{
                height: 33px;
                width: 171px;
                float: left;
                background: #fffffe;
                color: #850c4d;
                text-align: center;
                display: block;
                line-height: 33px;
            }
            
                
        }
        .s115{
            float: left;
            margin-left: -11px;
            .s116{
                margin-top: 49px;
            }
        }
        
        
    }
    .s117{
        height: 129px;
        width: 953px;
        border: #d2408b solid 1px;
        float: left;
        margin-top: 14px;
        .s118{
            width: 951px;
            height: 33px;
            float: left;
            background: #fffffe;
            
            .s119{
                height: 33px;
                width: 171px;
                float: left;
                color: #ffffff;
                background: #b5287a;
                text-align: center;
                display: block;
                line-height: 33px;
                font-size: 15px;
            }
            .s120{
                height: 33px;
                width: 171px;
                float: left;
                background: #fffffe;
                color: #850c4d;
                text-align: center;
                display: block;
                line-height: 33px;
            }
            
                
        }
        
    }
    .s121{
            width: 955px;
            height: 174px;
            background: url(../img/12222245_10.png);
            float: left;
            margin-top: 15px;
            
                font-size: 14px;
                a{
                    color: #850c4d;
                    
                }
            
                .s123{
                color: #850c4d;
                font-size: 14px;
                border-left: #850c4d 1px solid;
                padding-left: 10px;
                margin-left: 10px;
            }
            .s122{
                text-align: center;
                    display: block;
                    margin-top: 20px;
            }
            .s124{
                color: #850c4d;
                margin-top: 20px;
                p{
                    text-align: center;
                }
            }
        }
        
}
